In [5]:
import pandas as pd
import numpy as np

columns = ['Age', 'Sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
           'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

num_rows = 100  
data = {
    'Age': np.random.randint(29, 77, size=num_rows),
    'Sex': np.random.randint(0, 2, size=num_rows),
    'cp': np.random.randint(0, 4, size=num_rows),
    'trestbps': np.random.randint(94, 200, size=num_rows),
    'chol': np.random.randint(126, 564, size=num_rows),
    'fbs': np.random.randint(0, 2, size=num_rows),
    'restecg': np.random.randint(0, 3, size=num_rows),
    'thalach': np.random.randint(71, 202, size=num_rows),
    'exang': np.random.randint(0, 2, size=num_rows),
    'oldpeak': np.round(np.random.uniform(0.0, 6.2, size=num_rows), 1),
    'slope': np.random.randint(0, 3, size=num_rows),
    'ca': np.random.randint(0, 5, size=num_rows),
    'thal': np.random.choice([0, 1, 2, 3], size=num_rows),
    'target': np.random.randint(0, 2, size=num_rows)
}

# Create the DataFrame
df = pd.DataFrame(data, columns=columns)

# Save to CSV
df.to_csv("heart_dataset.csv", index=False)

# Display first few rows
df.head()

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,76,0,1,114,330,1,1,127,0,3.4,2,1,2,1
1,33,1,2,153,458,1,0,169,0,2.6,1,1,0,1
2,50,0,3,154,331,1,2,192,0,4.7,2,4,1,0
3,42,0,0,131,188,0,1,179,0,0.1,2,1,0,1
4,35,0,1,107,188,0,1,160,0,2.3,1,2,2,1

In [3]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

data = pd.read_csv("heart_dataset.csv")
data

y = data["target"]
X = data.drop('target', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=0)

scaler = StandardScaler()
scale = scaler.fit(X_train)
X_train = scale.transform(X_train)
X_test = scale.transform(X_test)

model = LogisticRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("Actual Values:")
print(y_test)
print("------------------------------------------------------------------------------------------------------")
print("Predicted Values:")
print(pred)

Actual Values:
26    0
86    0
2     0
55    1
75    1
93    1
16    0
73    1
54    1
95    1
53    1
92    0
78    1
13    0
7     1
30    1
22    1
24    1
33    1
8     1
Name: target, dtype: int64
------------------------------------------------------------------------------------------------------
Predicted Values:
[1 1 1 1 0 1 1 1 0 0 1 0 1 1 1 0 1 1 1 0]

In [6]:
print("______________________________________")
print(100 * accuracy_score(y_test, pred), "%")

______________________________________
50.0 %

In [5]:
print(confusion_matrix(y_test, pred))

[[1 5]
 [5 9]]

In [7]:
tn, fp, fn, tp = confusion_matrix(y_test, pred).ravel()
print(tn, fp, fn, tp)

1 5 5 9

In [8]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.17      0.17      0.17         6
           1       0.64      0.64      0.64        14

    accuracy                           0.50        20
   macro avg       0.40      0.40      0.40        20
weighted avg       0.50      0.50      0.50        20